<!-- frontend code for image processing -->
<html>
<title> Image Processing </title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--Link Style.css file here-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

<body><br>

<center>
<h1>Image Processing</h1><hr>

<!--Add <form> Tag here along with two <br> tags-->
    <form method="POST" enctype="multipart/form-data" action="/gray">
    <h2>Select an Image for doing image proccessing.</h2>

    <select name="proccess_selection">
        <option value="gray" class="option">Grayscale</option>
        <option value="sketch" class="option">Sketch Effect</option>
        <option value="oil" class="option">Oil Effect</option>
        <option value="rgb" class="option">BGR to RGB</option>
        <option value="water" class="option">Water Color</option>
        <option value="invert" class="option">Color Inverted</option>
        <option value="hdr" class="option">HDR</option>
    </select>

    <!--Write input tag to add upload button-->
    <input type="file" name="input_file" class="btn btn-primary btn-lg">
    <!--Write input tag to add Submit button-->
    <input type="submit" value="Submit" class="btn btn-primary btn-lg">
    <!--Add h3 tag to display message defined in app.py file after images gets uploaded-->
    <h3>{{message}}</h3>
    <!--Add <img> tag to display the uploaded image-->
    <img src="{{url_for('get_grayed', filename=filename)}}">
<!--End <form> tag-->
</form>
</center>
</body>
</html>
